<DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>照片墙</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" media="screen"/>
</head>
<body>

<div class="head" style="background-color: #06B184; height: 200px;width: 100%; margin: -8px -8px -8px -8px;">
    <img src="/public/images/logo.jpg" style="width: 240px; text-align: left;"/>

    <p style="text-align: left;font-weight: bold;margin-left: 20px">照片墙---纯手工打造, 要什么模板, 此处感谢jason blog提供的原型.......</p>

    <div style="text-align: right;padding-bottom: 20sp; ">
        <a href="/" style="color:#F3F2F2;text-decoration:none;font-weight: bold">首页</a>&nbsp&nbsp
        <a href="/" style="color:#F3F2F2;text-decoration:none;font-weight: bold">目录</a>&nbsp&nbsp
        <a href="/" style="color:#F3F2F2;text-decoration:none;font-weight: bold">关于</a>&nbsp&nbsp
        <input type="text" placeholder="搜索" style="color:#F3F2F2;font-weight: bold"/>&nbsp
    </div>
</div>

<img src="../public/images/1.jpg" style="width: 300px;"></img>
<img src="../public/images/2.jpg" style="width: 300px;"></img>
<img src="../public/images/3.jpg" style="width: 300px;"></img>
</body>
</html>
